<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Twitter's Bootstrap</string>
	<key>uuid</key>
	<string>1CECDD76-8C29-4177-A1B5-0F39FC1C92DC</string>
</dict>
</plist>
