<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>${TM_NEW_FILE_BASENAME}</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="${TM_AUTHOR}">
    <meta name="copyright" content="(c) ${TM_YEAR}, ${TM_ORGANIZATION_NAME}">
    
    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    
    <!-- Le styles -->
    <link href="http://twitter.github.com/bootstrap/1.4.0/bootstrap.css" rel="stylesheet">
    
    <!-- For local usage -->
    <!-- <link rel="stylesheet" href="bootstrap.min.css?v1.4.0"> -->
    
    <!-- Extra CSS declarations -->
    <style type="text/css" media="screen">
    </style>
</head>
<body>
    <div class="container">

    </div>
</body>
</html>
<!-- # ${TM_DATE} #  -->